:root
{
  --focus : rgba(135,111,61);
  --text_switch : rgba(255,204,0,0.8);
  --shadow_yellow : rgba(250,209,23,0.2);
  --shadow_red : rgba(220,92,88, 0.2);
  --cancel : rgba(174,23,46);
  --text: #6b6375;
  --bg: #000000;
  --border: #e5e4e7;
  --accent: #ffff3b;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark)
{
  :root
  {
    --text: #f3f4f6;
    --bg: #000000;
    --border: #1f2028;
    --accent: #ffff3b;
  }
}

body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}